::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: #000000;
	color:white;
	position: relative;
}

div.tabBox p {
	font-size: 150%
}
a {
	color: #75aaf4;
	text-decoration: none;
	font-weight:bold;
}
.intLink{
	color:#24a815;
	cursor: pointer;
	font-weight:bold;
}

.bolded{
	color: orange;
	font-weight:bold;
}

#name {
	font-size:500%;
	color:#24a815;
	font-family: "Questrial";
	user-select: none;
	position: relative;
	text-align: center;
	cursor:default;
	top:10px;
}
div.tabBox{
	background-color: transparent;
	width: 60%;
	position: relative;
    left: 20%;
}

div.tabBox h3 {
	position:relative;
	left:-10%;
	font-size: 200%;
}

div.tabBar {
	text-align:center;
    overflow: hidden;
    background-color: transparent;
    user-select:none;
    cursor:default;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

div.tabPage{
	font-family: "Quicksand";
	display:block;
	-moz-transition: all 0.3s;
 	-khtml-transition: all 0.3s;
 	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


div.tabBar button {
	user-select:none;
	width: 200px;
    height: 70px;
	background-color: black;
	font-size:200%;
	font-family:"Quicksand";
	justify-content:center;
	text-decoration:none;
	color: white;
	border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

div.tabBar button:hover {
    color: grey;
}


div.tabBar button.active {
	color: grey;
    border-style: solid;
    border-color: grey;
    border-radius: 13px;
    border-width:3px;
    transition: 0.1s;
}
.tabPage {
    display: none;
    padding: 6px 12px;
    border-top: none;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity:0;
}

#cont img {
	opacity:0.8;
	transition:0.2s;
	-webkit-transition: 0.2s;

}
#cont img:hover {
	opacity:0.999;

}